html{
    position: relative;
    min-height: 100%;
}

body{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    max-width: 100vw;
    min-height: 10vh;
    position: relative;
    display: grid;
    justify-items: center;
}

.main-content{
    height: 100vh;
    margin: 0 0 100px 0;
}

footer{
    background-color: lightblue;
    border-top: 5px solid #eeeeee;
    color: #888888;
    display: block;
    margin-top: 16px;
    height: 100px;
    padding: 16px 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

header{
    margin: 16px 0 48px 0;
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

.portrait{
    width: 300px;
}
